{% extends 'base.html' %}
{% block content %}
{% load static  %}

<section class="pb-4"><div class="banner-img pt-5 mt-5">

</div>
<div class="row p-5">
    <div class="about_methods col-md-4"><h1 class="blues py-5">Our Teaching Methods</h1>
    <p>Our teaching method is based on scientific research on how children learn through, This process of learning ensure that children develop a understanding of different topics and ability to use.</p>
    <h1 class="py-5 blues">Our Mission</h1>
    <p>Our mission is to help each child to realize the their full potential,thus enabling the child cope up with evergrowing challenges of life.</p>
    <p>we are commited to introduce the joy of learning through play, channelize the child's energy through recreational activities, enlarge the intectuall broaden outlook of child and improve their self confidence </p>
    </div>
    <div class="col-md-8 py-5 circle_wrapper">
        <div class="circle_wrapper d-flex circle_1">Hand on pratice Methods</div>
        <div class="circle_wrapper d-flex circle_2">Activities Methods</div>
        <div class="circle_wrapper d-flex circle_3">Live Examples Methods</div>
        <div class="circle_wrapper d-flex circle_4">Trail & Error Methods</div>
        <div class="circle_wrapper d-flex circle_5">Child Centric Methods</div>

        
    </div>
</div>
<div class="about_download text-center py-5 ">
<h2 class="blues py-5">Enrol your children, download admission form.</h2>
<span class="border-btn"><a class="btn1 px-5 mx-5" href="">Download</a></span></div>
</div>
</section>
{% endblock %}